{
  "openapi": "3.0.1",
  "info": {
    "title": "Entity Hierarchy Rest API",
    "description": "API to retrieve entity hierarchy information from EnY based on UEI",
    "contact": {
      "name": "GSA",
      "url": "www.sam.gov",
      "email": "reply@gsa.gov"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://133entityhierarchyserviceminc.apps.prod-iae.bsp.gsa.gov",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "UEI Federal Matcher",
      "description": "Operations pertaining to UEI Match for Federal user account"
    },
    {
      "name": "UEI Matcher",
      "description": "Operations pertaining to UEI Match"
    },
    {
      "name": "Entity Survey Data Controller",
      "description": "Operations pertaining to registration survey data"
    },
    {
      "name": "Federal Entity UEI Registration",
      "description": "Operations pertaining to Federal Entity UEI Registration"
    }
  ],
  "paths": {
    "/entity-hierarchy/v3/update-sed-exclusion": {
      "put": {
        "tags": ["Exclusion Hierarchy"],
        "operationId": "updateFSDTicketNoForSED",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExclusionSEDDataDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessageSED"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v3/update-exclusion": {
      "put": {
        "tags": ["Exclusion Hierarchy"],
        "summary": "Add Exclusion Data for Hierarchy Response",
        "operationId": "updateExclusionInformationByUEI",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExclusionDataDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the record",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Accessing the resource you were trying to reach is forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v3/update-entity": {
      "put": {
        "tags": ["Registration Data"],
        "summary": "API to sync registration details between LSAM and MSAM",
        "operationId": "updateUEIEntityInformation",
        "parameters": [
          {
            "name": "queueFlag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityRegDataDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the record",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Accessing the resource you were trying to reach is forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/update-entity-by-status": {
      "put": {
        "tags": ["Registration Data V2"],
        "summary": "API for LSAM to send data updates for registrations",
        "operationId": "updateEntityByStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityRegDataDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated the record",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseMessage"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to view the resource",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Accessing the resource you were trying to reach is forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "The resource you were trying to reach is not found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/update-congressional-district": {
      "put": {
        "tags": ["Entity Hierarchy V2"],
        "summary": "update congressional district",
        "operationId": "updateCongressionalDistrict",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully updated congressional district",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action - X-Auth-Token is invalid",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/registration": {
      "put": {
        "tags": ["Registration Data V2"],
        "summary": "Post new Entity Update",
        "operationId": "updateEntityRegistration",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updateType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityRegRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Entity has been successfully updated.",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid payload: Provide a valid update request type or payload cannot be empty",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "An Error occurred while updating entity, Please try again!",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Registration Data V2"],
        "summary": "Create UEI registration",
        "operationId": "ueiRegistration",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Auth-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityRegRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Successfully created the UEI",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/validate-additional-information": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Validate additional information for entity (i.e. Date of Incorporation, State of Incorporation, NPI",
        "operationId": "validateAdditionalInformation",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateEntityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/update-evs-status": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Associate Fuzzy search result Entity with Evs Id",
        "operationId": "updateEvsStatus",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/searchEntity": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Find an entity in DB by UEI or by entity's name and address combination",
        "operationId": "searchEntity",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of fuzzy search to be performed",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["SAM", "EVS"]
            }
          },
          {
            "name": "Auth-Key",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/UeiNonFedMatcherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No Results Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/register-save-auto-assign": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Register and associate user to matched UEI",
        "operationId": "registerSaveAutoAssign",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/phrr/request": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Send PHRR request to the Feeds service",
        "operationId": "submitPhrr",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhrrRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/phrr/request/{reqId}": {
      "get": {
        "tags": ["UEI Matcher"],
        "summary": "Get PHRR request details",
        "operationId": "getPhrrDetails",
        "parameters": [
          {
            "name": "reqId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/PhrrRequestDetails"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Process PHRR request",
        "operationId": "processPhrr",
        "parameters": [
          {
            "name": "reqId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhrrRequestAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/find-match": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Find an entity match against E&Y by name and address",
        "operationId": "entityMatcher",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/UeiNonFedMatcherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No Results Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/check-evs-id": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Check if EVS id already claimed in SAM",
        "operationId": "checkEvsIdInSam",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/UeiNonFedMatcherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher/v2/assignUeiByFsd": {
      "post": {
        "tags": ["UEI Matcher"],
        "summary": "Generate UEI for FSD number",
        "operationId": "assignUeiByFsd",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedFsd"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher-fed/v3/register-save": {
      "post": {
        "tags": ["Federal Entity UEI Registration"],
        "summary": "Assign UEI and register federal entity",
        "operationId": "registerSave",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiFedMatcherRequestV3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher-fed/v3/fuzzySearch": {
      "post": {
        "tags": ["Federal Entity UEI Registration"],
        "summary": "Fuzzy Search Against SAM DB",
        "operationId": "entityMatcherFuzzySearchFed",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiFedMatcherRequestV3"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/UeiFedMatcherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher-fed/v2/register-save": {
      "post": {
        "tags": ["UEI Federal Matcher"],
        "summary": "Assign UEI and register federal entity",
        "operationId": "registerSave_1",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/uei-matcher-fed/v2/find-match": {
      "post": {
        "tags": ["UEI Federal Matcher"],
        "summary": "Find a Matched UEI registration for a Federal Organization",
        "operationId": "entityMatcherFed",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/UeiFedMatcherResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/helpdesk-ticket/v1/tickets": {
      "get": {
        "tags": ["Entity Generic Help Desk"],
        "operationId": "getHelpDeskTickets",
        "parameters": [
          {
            "name": "helpDeskId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HelpdeskTickets"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Entity Generic Help Desk"],
        "operationId": "createHelpDeskTicketInformation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericHelpDeskTicketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HelpdeskTickets"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/helpdesk-ticket/v1/tickets/{id}/submit": {
      "post": {
        "tags": ["Entity Generic Help Desk"],
        "operationId": "updateHelpDeskStatus",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericHelpDeskTicketRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HelpdeskTickets"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/helpdesk-ticket/v1/tickets/search/open-incidents": {
      "post": {
        "tags": ["Entity Generic Help Desk"],
        "summary": "Fuzzy search-openTickets against Sam DB",
        "operationId": "searchOpenTickets",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-survey/v1/survey": {
      "post": {
        "tags": ["Entity Survey Data Controller"],
        "summary": "Capture entity's survey response data",
        "operationId": "saveSurveyResp",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityBusPurposeDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-survey/v1/qualtricsSurvey": {
      "post": {
        "tags": ["Entity Survey Data Controller"],
        "summary": "API to check whether the Qualtrics Survey to be shown or not",
        "operationId": "qualtricsSurvey",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QualtricsSurveyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-survey/v1/qualtricsSurveyDataListener": {
      "post": {
        "tags": ["Entity Survey Data Controller"],
        "summary": "API used as a WebListener to get the response data from Qualtrics",
        "operationId": "qualtricsSurveyData",
        "parameters": [
          {
            "name": "qualtricsSurveyDataMap",
            "in": "query",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/verify/cage/{cage}": {
      "post": {
        "tags": ["Registration Data V2"],
        "summary": "Verify CAGE Details,CAGE Must be exactly five characters, letters and digits only, not case sensitive",
        "operationId": "verifyByCAGECode",
        "parameters": [
          {
            "name": "cage",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiNonFedMatcher"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/validateEvsAddress": {
      "post": {
        "tags": ["Entity Validation"],
        "summary": "validate and get updated address with Samrty API for the user given address",
        "operationId": "checkAddress",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EVSAddressModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No Data Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/search/cage/{cage}": {
      "post": {
        "tags": ["Registration Data V2"],
        "summary": "Verify CAGE Already Exist on MSAM",
        "operationId": "getRecordsCountByCAGE",
        "parameters": [
          {
            "name": "cage",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/evsValidation": {
      "post": {
        "tags": ["Entity Validation"],
        "summary": "UEI registration verification",
        "operationId": "ueiVerificationByEvsAgent",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/evsUpdate": {
      "post": {
        "tags": ["Entity Validation"],
        "summary": "UEI registration EVS update",
        "operationId": "ueiUpdateByEvsAgent",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/evsDuplicate": {
      "post": {
        "tags": ["Entity Validation"],
        "summary": "UEI registration mark as duplicate",
        "operationId": "ueiMarkAsDuplicateByEvsAgent",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UeiVerificationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/evs-user-entity-update": {
      "post": {
        "tags": ["Entity Validation"],
        "summary": "Saves Entity info that is updated by evs user in evs_entityupdate table.",
        "operationId": "saveEvsEntityUpdateInfo",
        "parameters": [
          {
            "name": "actionType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvsEntityUpdateInfo"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/entity-status-tracker": {
      "post": {
        "tags": ["Registration Data V2"],
        "summary": "Get Entity Status Tracker details for a UEI or CAGE Code to display in Entity Status Tracker page and FSD",
        "operationId": "getEntityStatusTrackerDetails",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityStatusTrackerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved entity status details",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityStatusTrackerResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/entity-hierarchy/v2/entity-evsid-claim-info": {
      "post": {
        "tags": ["Entity Validation"],
        "operationId": "getEntityEvsIdClaimInfo",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EntityEvsIdClaimInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "You are not authorized to perform the action",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No Data Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
[...]
