{
  "openapi": "3.0.1",
  "info": {
    "title": "Entity Hierarchy Rest API",
    "description": "API to retrieve entity hierarchy information from EnY based on UEI",
    "contact": {
      "name": "GSA",
      "url": "www.sam.gov",
      "email": "reply@gsa.gov"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://133entityhierarchyserviceminc.apps.prod-iae.bsp.gsa.gov",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "UEI Federal Matcher",
      "description": "Operations pertaining to UEI Match for Federal user account"
    },
    {
      "name": "UEI Matcher",
      "description": "Operations pertaining to UEI Match"
    },
    {
      "name": "Entity Survey Data Controller",
      "description": "Operations pertaining to registration survey data"
    },
    {
      "name": "Federal Entity UEI Registration",
      "description": "Operations pertaining to Federal Entity UEI Registration"
    }
  ],
  "paths": {
    "/helpdesk-ticket/v1/tickets": {
      "get": {
        "tags": ["Entity Generic Help Desk"],
        "operationId": "getHelpDeskTickets",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "helpDeskId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HelpdeskTickets"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": ["Entity Generic Help Desk"],
        "operationId": "createHelpDeskTicketInformation",
        "parameters": [
          {
            "name": "X-Auth-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenericHelpDeskTicketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/hal+json": {
                "schema": {
                  "$ref": "#/components/schemas/HelpdeskTickets"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat/elasticsearch": {
      "get": {
        "tags": ["heartbeat-controller"],
        "operationId": "getElasticSearchStatus",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "100 CONTINUE",
                    "101 SWITCHING_PROTOCOLS",
                    "102 PROCESSING",
                    "103 EARLY_HINTS",
                    "103 CHECKPOINT",
                    "200 OK",
                    "201 CREATED",
                    "202 ACCEPTED",
                    "203 NON_AUTHORITATIVE_INFORMATION",
                    "204 NO_CONTENT",
                    "205 RESET_CONTENT",
                    "206 PARTIAL_CONTENT",
                    "207 MULTI_STATUS",
                    "208 ALREADY_REPORTED",
                    "226 IM_USED",
                    "300 MULTIPLE_CHOICES",
                    "301 MOVED_PERMANENTLY",
                    "302 FOUND",
                    "302 MOVED_TEMPORARILY",
                    "303 SEE_OTHER",
                    "304 NOT_MODIFIED",
                    "305 USE_PROXY",
                    "307 TEMPORARY_REDIRECT",
                    "308 PERMANENT_REDIRECT",
                    "400 BAD_REQUEST",
                    "401 UNAUTHORIZED",
                    "402 PAYMENT_REQUIRED",
                    "403 FORBIDDEN",
                    "404 NOT_FOUND",
                    "405 METHOD_NOT_ALLOWED",
                    "406 NOT_ACCEPTABLE",
                    "407 PROXY_AUTHENTICATION_REQUIRED",
                    "408 REQUEST_TIMEOUT",
                    "409 CONFLICT",
                    "410 GONE",
                    "411 LENGTH_REQUIRED",
                    "412 PRECONDITION_FAILED",
                    "413 PAYLOAD_TOO_LARGE",
                    "413 REQUEST_ENTITY_TOO_LARGE",
                    "414 URI_TOO_LONG",
                    "414 REQUEST_URI_TOO_LONG",
                    "415 UNSUPPORTED_MEDIA_TYPE",
                    "416 REQUESTED_RANGE_NOT_SATISFIABLE",
                    "417 EXPECTATION_FAILED",
                    "418 I_AM_A_TEAPOT",
                    "419 INSUFFICIENT_SPACE_ON_RESOURCE",
                    "420 METHOD_FAILURE",
                    "421 DESTINATION_LOCKED",
                    "422 UNPROCESSABLE_ENTITY",
                    "423 LOCKED",
                    "424 FAILED_DEPENDENCY",
                    "425 TOO_EARLY",
                    "426 UPGRADE_REQUIRED",
                    "428 PRECONDITION_REQUIRED",
                    "429 TOO_MANY_REQUESTS",
                    "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
                    "451 UNAVAILABLE_FOR_LEGAL_REASONS",
                    "500 INTERNAL_SERVER_ERROR",
                    "501 NOT_IMPLEMENTED",
                    "502 BAD_GATEWAY",
                    "503 SERVICE_UNAVAILABLE",
                    "504 GATEWAY_TIMEOUT",
                    "505 HTTP_VERSION_NOT_SUPPORTED",
                    "506 VARIANT_ALSO_NEGOTIATES",
                    "507 INSUFFICIENT_STORAGE",
                    "508 LOOP_DETECTED",
                    "509 BANDWIDTH_LIMIT_EXCEEDED",
                    "510 NOT_EXTENDED",
                    "511 NETWORK_AUTHENTICATION_REQUIRED"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat/elasticsearch/details": {
      "get": {
        "tags": ["heartbeat-controller"],
        "operationId": "getElasticSearchDetails",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat/database": {
      "get": {
        "tags": ["heartbeat-controller"],
        "operationId": "getDatabaseStatus",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "100 CONTINUE",
                    "101 SWITCHING_PROTOCOLS",
                    "102 PROCESSING",
                    "103 EARLY_HINTS",
                    "103 CHECKPOINT",
                    "200 OK",
                    "201 CREATED",
                    "202 ACCEPTED",
                    "203 NON_AUTHORITATIVE_INFORMATION",
                    "204 NO_CONTENT",
                    "205 RESET_CONTENT",
                    "206 PARTIAL_CONTENT",
                    "207 MULTI_STATUS",
                    "208 ALREADY_REPORTED",
                    "226 IM_USED",
                    "300 MULTIPLE_CHOICES",
                    "301 MOVED_PERMANENTLY",
                    "302 FOUND",
                    "302 MOVED_TEMPORARILY",
                    "303 SEE_OTHER",
                    "304 NOT_MODIFIED",
                    "305 USE_PROXY",
                    "307 TEMPORARY_REDIRECT",
                    "308 PERMANENT_REDIRECT",
                    "400 BAD_REQUEST",
                    "401 UNAUTHORIZED",
                    "402 PAYMENT_REQUIRED",
                    "403 FORBIDDEN",
                    "404 NOT_FOUND",
                    "405 METHOD_NOT_ALLOWED",
                    "406 NOT_ACCEPTABLE",
                    "407 PROXY_AUTHENTICATION_REQUIRED",
                    "408 REQUEST_TIMEOUT",
                    "409 CONFLICT",
                    "410 GONE",
                    "411 LENGTH_REQUIRED",
                    "412 PRECONDITION_FAILED",
                    "413 PAYLOAD_TOO_LARGE",
                    "413 REQUEST_ENTITY_TOO_LARGE",
                    "414 URI_TOO_LONG",
                    "414 REQUEST_URI_TOO_LONG",
                    "415 UNSUPPORTED_MEDIA_TYPE",
                    "416 REQUESTED_RANGE_NOT_SATISFIABLE",
                    "417 EXPECTATION_FAILED",
                    "418 I_AM_A_TEAPOT",
                    "419 INSUFFICIENT_SPACE_ON_RESOURCE",
                    "420 METHOD_FAILURE",
                    "421 DESTINATION_LOCKED",
                    "422 UNPROCESSABLE_ENTITY",
                    "423 LOCKED",
                    "424 FAILED_DEPENDENCY",
                    "425 TOO_EARLY",
                    "426 UPGRADE_REQUIRED",
                    "428 PRECONDITION_REQUIRED",
                    "429 TOO_MANY_REQUESTS",
                    "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
                    "451 UNAVAILABLE_FOR_LEGAL_REASONS",
                    "500 INTERNAL_SERVER_ERROR",
                    "501 NOT_IMPLEMENTED",
                    "502 BAD_GATEWAY",
                    "503 SERVICE_UNAVAILABLE",
                    "504 GATEWAY_TIMEOUT",
                    "505 HTTP_VERSION_NOT_SUPPORTED",
                    "506 VARIANT_ALSO_NEGOTIATES",
                    "507 INSUFFICIENT_STORAGE",
                    "508 LOOP_DETECTED",
                    "509 BANDWIDTH_LIMIT_EXCEEDED",
                    "510 NOT_EXTENDED",
                    "511 NETWORK_AUTHENTICATION_REQUIRED"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/heartbeat/aws/s3": {
      "get": {
        "tags": ["heartbeat-controller"],
        "operationId": "getAWSS3Status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "100 CONTINUE",
                    "101 SWITCHING_PROTOCOLS",
                    "102 PROCESSING",
                    "103 EARLY_HINTS",
                    "103 CHECKPOINT",
                    "200 OK",
                    "201 CREATED",
                    "202 ACCEPTED",
                    "203 NON_AUTHORITATIVE_INFORMATION",
                    "204 NO_CONTENT",
                    "205 RESET_CONTENT",
                    "206 PARTIAL_CONTENT",
                    "207 MULTI_STATUS",
                    "208 ALREADY_REPORTED",
                    "226 IM_USED",
                    "300 MULTIPLE_CHOICES",
                    "301 MOVED_PERMANENTLY",
                    "302 FOUND",
                    "302 MOVED_TEMPORARILY",
                    "303 SEE_OTHER",
                    "304 NOT_MODIFIED",
                    "305 USE_PROXY",
                    "307 TEMPORARY_REDIRECT",
                    "308 PERMANENT_REDIRECT",
                    "400 BAD_REQUEST",
                    "401 UNAUTHORIZED",
                    "402 PAYMENT_REQUIRED",
                    "403 FORBIDDEN",
                    "404 NOT_FOUND",
                    "405 METHOD_NOT_ALLOWED",
                    "406 NOT_ACCEPTABLE",
                    "407 PROXY_AUTHENTICATION_REQUIRED",
                    "408 REQUEST_TIMEOUT",
                    "409 CONFLICT",
                    "410 GONE",
                    "411 LENGTH_REQUIRED",
                    "412 PRECONDITION_FAILED",
                    "413 PAYLOAD_TOO_LARGE",
                    "413 REQUEST_ENTITY_TOO_LARGE",
                    "414 URI_TOO_LONG",
                    "414 REQUEST_URI_TOO_LONG",
                    "415 UNSUPPORTED_MEDIA_TYPE",
                    "416 REQUESTED_RANGE_NOT_SATISFIABLE",
                    "417 EXPECTATION_FAILED",
                    "418 I_AM_A_TEAPOT",
                    "419 INSUFFICIENT_SPACE_ON_RESOURCE",
                    "420 METHOD_FAILURE",
                    "421 DESTINATION_LOCKED",
                    "422 UNPROCESSABLE_ENTITY",
                    "423 LOCKED",
                    "424 FAILED_DEPENDENCY",
                    "425 TOO_EARLY",
                    "426 UPGRADE_REQUIRED",
                    "428 PRECONDITION_REQUIRED",
                    "429 TOO_MANY_REQUESTS",
                    "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
                    "451 UNAVAILABLE_FOR_LEGAL_REASONS",
                    "500 INTERNAL_SERVER_ERROR",
                    "501 NOT_IMPLEMENTED",
                    "502 BAD_GATEWAY",
                    "503 SERVICE_UNAVAILABLE",
                    "504 GATEWAY_TIMEOUT",
                    "505 HTTP_VERSION_NOT_SUPPORTED",
                    "506 VARIANT_ALSO_NEGOTIATES",
                    "507 INSUFFICIENT_STORAGE",
                    "508 LOOP_DETECTED",
                    "509 BANDWIDTH_LIMIT_EXCEEDED",
                    "510 NOT_EXTENDED",
                    "511 NETWORK_AUTHENTICATION_REQUIRED"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/HSExceptionResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HSExceptionResponse": {
        "type": "object",
        "properties": {
          "errorTimestamp": {
            "type": "string"
          },
          "httpStatus": {
            "type": "string",
            "enum": [
              "100 CONTINUE",
              "101 SWITCHING_PROTOCOLS",
              "102 PROCESSING",
              "103 EARLY_HINTS",
              "103 CHECKPOINT",
              "200 OK",
              "201 CREATED",
              "202 ACCEPTED",
              "203 NON_AUTHORITATIVE_INFORMATION",
              "204 NO_CONTENT",
              "205 RESET_CONTENT",
              "206 PARTIAL_CONTENT",
              "207 MULTI_STATUS",
              "208 ALREADY_REPORTED",
              "226 IM_USED",
              "300 MULTIPLE_CHOICES",
              "301 MOVED_PERMANENTLY",
              "302 FOUND",
              "302 MOVED_TEMPORARILY",
              "303 SEE_OTHER",
              "304 NOT_MODIFIED",
              "305 USE_PROXY",
              "307 TEMPORARY_REDIRECT",
              "308 PERMANENT_REDIRECT",
              "400 BAD_REQUEST",
              "401 UNAUTHORIZED",
              "402 PAYMENT_REQUIRED",
              "403 FORBIDDEN",
              "404 NOT_FOUND",
              "405 METHOD_NOT_ALLOWED",
              "406 NOT_ACCEPTABLE",
              "407 PROXY_AUTHENTICATION_REQUIRED",
              "408 REQUEST_TIMEOUT",
              "409 CONFLICT",
              "410 GONE",
              "411 LENGTH_REQUIRED",
              "412 PRECONDITION_FAILED",
              "413 PAYLOAD_TOO_LARGE",
              "413 REQUEST_ENTITY_TOO_LARGE",
              "414 URI_TOO_LONG",
              "414 REQUEST_URI_TOO_LONG",
              "415 UNSUPPORTED_MEDIA_TYPE",
              "416 REQUESTED_RANGE_NOT_SATISFIABLE",
              "417 EXPECTATION_FAILED",
              "418 I_AM_A_TEAPOT",
              "419 INSUFFICIENT_SPACE_ON_RESOURCE",
              "420 METHOD_FAILURE",
              "421 DESTINATION_LOCKED",
              "422 UNPROCESSABLE_ENTITY",
              "423 LOCKED",
              "424 FAILED_DEPENDENCY",
              "425 TOO_EARLY",
              "426 UPGRADE_REQUIRED",
              "428 PRECONDITION_REQUIRED",
              "429 TOO_MANY_REQUESTS",
              "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
              "451 UNAVAILABLE_FOR_LEGAL_REASONS",
              "500 INTERNAL_SERVER_ERROR",
              "501 NOT_IMPLEMENTED",
              "502 BAD_GATEWAY",
              "503 SERVICE_UNAVAILABLE",
              "504 GATEWAY_TIMEOUT",
              "505 HTTP_VERSION_NOT_SUPPORTED",
              "506 VARIANT_ALSO_NEGOTIATES",
              "507 INSUFFICIENT_STORAGE",
              "508 LOOP_DETECTED",
              "509 BANDWIDTH_LIMIT_EXCEEDED",
              "510 NOT_EXTENDED",
              "511 NETWORK_AUTHENTICATION_REQUIRED"
            ]
          },
          "errorMessage": {
            "type": "string"
          },
          "requestedUri": {
            "type": "string"
          }
        }
      },
      "ExclusionSEDDataDto": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "exclusionId": {
            "type": "string"
          },
          "exclusionName": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "fsdTicketNumber": {
            "type": "string"
          }
        }
      },
      "ResponseMessageSED": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "exclusionId": {
            "type": "string"
          },
          "fsdTicketNumber": {
            "type": "string"
          }
        }
      },
      "ExclusionDataDto": {
        "type": "object",
        "properties": {
          "duns": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "exclusionName": {
            "type": "string"
          },
          "exclusionStartDate": {
            "type": "string",
            "format": "date-time"
          },
          "exclusionEndDate": {
            "type": "string",
            "format": "date-time"
          },
          "indefiniteIndicatorFlag": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "exclusionId": {
            "type": "string"
          },
          "sedStatusFlag": {
            "type": "boolean"
          },
          "addressLine": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "stateCode": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "phoneCountryCode": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "phoneExt": {
            "type": "string"
          },
          "firmDuns": {
            "type": "string"
          },
          "deleteFlag": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "stateCd": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          },
          "countryCd": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "congressionalDistrict": {
            "type": "string"
          }
        }
      },
      "ResponseMessage": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string"
          },
          "duns": {
            "type": "string"
          },
          "dodaac": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "legalBusinessName": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "EntityRegDataDto": {
        "type": "object",
        "properties": {
          "duns": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "ueiCreationDate": {
            "type": "string",
            "format": "date-time"
          },
          "dodaac": {
            "type": "string"
          },
          "regStatus": {
            "type": "string"
          },
          "regName": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "porCode": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "regAddressLine": {
            "type": "string"
          },
          "regAddressLine2": {
            "type": "string"
          },
          "regCity": {
            "type": "string"
          },
          "regStateCode": {
            "type": "string"
          },
          "regZipCode": {
            "type": "string"
          },
          "regCountryCode": {
            "type": "string"
          },
          "regDBAName": {
            "type": "string"
          },
          "tinMatchFlag": {
            "type": "string"
          },
          "cageMatchFlag": {
            "type": "string"
          },
          "notaryFlag": {
            "type": "string"
          },
          "addressUpdateFlag": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "registrationId": {
            "type": "integer",
            "format": "int32"
          },
          "hsId": {
            "type": "integer",
            "format": "int64"
          },
          "phoneCountryCode": {
            "type": "string"
          },
          "phoneNumber": {
            "type": "string"
          },
          "phoneExt": {
            "type": "string"
          },
          "npdyFlag": {
            "type": "string"
          },
          "phrrFlag": {
            "type": "string"
          },
          "officeCode": {
            "type": "string"
          },
          "levelType": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "evsStatus": {
            "type": "integer",
            "format": "int32"
          },
          "cageRejectReason": {
            "type": "string"
          },
          "cageRequiredFlag": {
            "type": "string"
          },
          "pendingEftIndicator": {
            "type": "string"
          },
          "surveyCompletedFlag": {
            "type": "string"
          },
          "sbaSizeProtest": {
            "type": "string"
          },
          "protectedAddressFlag": {
            "type": "string"
          },
          "orgId": {
            "type": "integer",
            "format": "int64"
          },
          "pitId": {
            "type": "integer",
            "format": "int64"
          },
          "submittedDate": {
            "type": "string"
          },
          "submittedBy": {
            "type": "string"
          },
          "activatedDate": {
            "type": "string"
          },
          "createdBy": {
            "type": "string"
          },
          "updatedBy": {
            "type": "string"
          }
        }
      },
      "EntityBusPurposeDTO": {
        "type": "object",
        "properties": {
          "entityBusPurposeId": {
            "type": "integer",
            "format": "int64"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "uei": {
            "type": "string"
          },
          "entityBusPurpose": {
            "type": "string"
          },
          "helpDeskTicket": {
            "type": "string"
          },
          "userTimeInfo": {
            "$ref": "#/components/schemas/UserTimeInfo"
          },
          "markCompleted": {
            "type": "boolean"
          }
        }
      },
      "EntityRegRequest": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "porCode": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "businessName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineOne": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineTwo": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressCity": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressState": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "congressionalDistrict": {
            "type": "string"
          },
          "addressZipCode": {
            "type": "string"
          },
          "country": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "isGov": {
            "type": "boolean"
          },
          "npdyFlag": {
            "type": "string"
          },
          "dbaName": {
            "type": "string"
          },
          "evsAddressUpdateFlag": {
            "type": "string"
          },
          "cageRequiredFlag": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "entityBusinessPurpose": {
            "$ref": "#/components/schemas/EntityBusPurposeDTO"
          },
          "protectedAddressFlag": {
            "type": "string"
          },
          "mailingAddress": {
            "$ref": "#/components/schemas/MailingAddress"
          },
          "dateOfIncorporation": {
            "type": "string"
          },
          "countryOfIncorporation": {
            "type": "string"
          },
          "stateOfIncorporation": {
            "type": "string"
          },
          "fiscalYearEndCloseDate": {
            "type": "string"
          },
          "entityURL": {
            "type": "string"
          }
        }
      },
      "MailingAddress": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "sameAsPhysicalAddress": {
            "type": "boolean"
          }
        }
      },
      "UserTimeInfo": {
        "type": "object",
        "properties": {
          "createdBy": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string"
          },
          "updatedDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NationalIdentifier": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "desc": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        }
      },
      "UeiNonFedMatcher": {
        "required": [
          "addressCity",
          "addressLineOne",
          "businessName",
          "country"
        ],
        "type": "object",
        "properties": {
          "businessName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineOne": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineTwo": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressCity": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressState": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressZipCode": {
            "type": "string"
          },
          "country": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "uei": {
            "maxLength": 12,
            "minLength": 0,
            "type": "string"
          },
          "evsId": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string"
          },
          "npdyFlag": {
            "type": "string"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "matchStrength": {
            "type": "number",
            "format": "double"
          },
          "evsStatus": {
            "type": "integer",
            "format": "int32"
          },
          "duns": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "stateOfIncorporation": {
            "type": "string"
          },
          "dateOfIncorporation": {
            "type": "string"
          },
          "npi": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NationalIdentifier"
            }
          },
          "guoId": {
            "type": "string"
          },
          "duoId": {
            "type": "string"
          },
          "immediateParentId": {
            "type": "string"
          },
          "regStatus": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          },
          "porCode": {
            "type": "string"
          },
          "busTypeCode": {
            "type": "string"
          },
          "dbaName": {
            "type": "string"
          },
          "cageRequiredFlag": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "evsDissolvedOOBFlag": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "legalForm": {
            "type": "string"
          },
          "hierarchyTags": {
            "type": "string"
          },
          "currentStatus": {
            "type": "string"
          },
          "entityBusinessPurpose": {
            "$ref": "#/components/schemas/EntityBusPurposeDTO"
          },
          "protectedAddressFlag": {
            "type": "string"
          }
        }
      },
      "ValidateEntityResponse": {
        "type": "object",
        "properties": {
          "alertMsg": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "found": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UeiNonFedMatcher"
            }
          },
          "entered": {
            "$ref": "#/components/schemas/UeiNonFedMatcher"
          },
          "role": {
            "type": "string"
          },
          "parentRegistered": {
            "type": "boolean"
          },
          "childRegistered": {
            "type": "boolean"
          },
          "parentUei": {
            "type": "string"
          },
          "parentEntityName": {
            "type": "string"
          },
          "parentUeiPath": {
            "type": "string"
          }
        }
      },
      "EntityHsData": {
        "type": "object",
        "properties": {
          "hsId": {
            "type": "integer",
            "format": "int64"
          },
          "addressId": {
            "type": "integer",
            "format": "int64"
          },
          "duns": {
            "type": "string"
          },
          "dodaac": {
            "type": "string"
          },
          "parentDuns": {
            "type": "string"
          },
          "parentUei": {
            "type": "string"
          },
          "hqDuns": {
            "type": "string"
          },
          "hqUei": {
            "type": "string"
          },
          "domesticDuns": {
            "type": "string"
          },
          "domesticUei": {
            "type": "string"
          },
          "globalDuns": {
            "type": "string"
          },
          "globalUei": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "dbaName": {
            "type": "string"
          },
          "parentHsId": {
            "type": "integer",
            "format": "int64"
          },
          "parentPath": {
            "type": "string"
          },
          "parentDunsPath": {
            "type": "string"
          },
          "parentUeiPath": {
            "type": "string"
          },
          "fhParentPath": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "hqParentDuns": {
            "type": "string"
          },
          "hqParentUei": {
            "type": "string"
          },
          "ueiActiveInd": {
            "type": "boolean"
          },
          "ueiAssignmentFlag": {
            "type": "integer",
            "format": "int32"
          },
          "entityId": {
            "type": "string"
          },
          "parentEntityId": {
            "type": "string"
          },
          "domesticEntityId": {
            "type": "string"
          },
          "globalEntityId": {
            "type": "string"
          },
          "userTimeInfo": {
            "$ref": "#/components/schemas/UserTimeInfo"
          },
          "cageCode": {
            "type": "string"
          },
          "porCode": {
            "type": "string"
          },
          "statusDesc": {
            "type": "string"
          },
          "porDesc": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "tinMatchFlag": {
            "type": "string"
          },
          "cageMatchFlag": {
            "type": "string"
          },
          "notaryFlag": {
            "type": "string"
          },
          "regSource": {
            "type": "string"
          },
          "evsSource": {
            "type": "integer",
            "format": "int32"
          },
          "addressUpdateFlag": {
            "type": "string"
          }
        }
      },
      "UeiNonFedMatcherResponse": {
        "type": "object",
        "properties": {
          "alertMsg": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "found": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UeiNonFedMatcher"
            }
          },
          "entered": {
            "$ref": "#/components/schemas/UeiNonFedMatcher"
          },
          "role": {
            "type": "string"
          },
          "parentRegistered": {
            "type": "boolean"
          },
          "childRegistered": {
            "type": "boolean"
          },
          "updateDataForEntityHsData": {
            "$ref": "#/components/schemas/EntityHsData"
          },
          "addressForEntityHsData": {
            "$ref": "#/components/schemas/Address"
          }
        }
      },
      "PhrrRequest": {
        "required": [
          "addressCity",
          "addressLineOne",
          "businessName",
          "country",
          "evsId"
        ],
        "type": "object",
        "properties": {
          "businessName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineOne": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineTwo": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressCity": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressState": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressZipCode": {
            "type": "string"
          },
          "country": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "evsId": {
            "maxLength": 36,
            "minLength": 0,
            "type": "string"
          },
          "parentUei": {
            "type": "string"
          },
          "parentEntityName": {
            "type": "string"
          },
          "parentUeiPath": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "stateOfIncorporation": {
            "type": "string"
          },
          "yearOfIncorporation": {
            "type": "string"
          },
          "notaryFlag": {
            "type": "string"
          }
        }
      },
      "PhrrRequestAction": {
        "required": ["actionType"],
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "UeiNonFedFsd": {
        "required": ["fsdNumber", "regId"],
        "type": "object",
        "properties": {
          "regId": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "fsdNumber": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "UeiFedMatcherRequestV3": {
        "required": [
          "addressCity",
          "addressLineOne",
          "addressState",
          "addressZipCode",
          "businessName",
          "country",
          "parentOrgId",
          "parentType"
        ],
        "type": "object",
        "properties": {
          "parentOrgId": {
            "type": "string"
          },
          "parentType": {
            "type": "string"
          },
          "businessName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineOne": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineTwo": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressCity": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressState": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressZipCode": {
            "type": "string"
          },
          "country": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "busTypeCode": {
            "type": "string"
          },
          "porCode": {
            "type": "string"
          },
          "dbaName": {
            "type": "string"
          }
        }
      },
      "UeiFedMatcher": {
        "required": [
          "addressCity",
          "addressLineOne",
          "addressState",
          "addressZipCode",
          "businessName",
          "country",
          "fhParentPath",
          "orgId",
          "type"
        ],
        "type": "object",
        "properties": {
          "orgId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "parentOrgId": {
            "type": "string"
          },
          "parentType": {
            "type": "string"
          },
          "fhParentPath": {
            "type": "string"
          },
          "businessName": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineOne": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressLineTwo": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "addressCity": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressState": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string"
          },
          "addressZipCode": {
            "type": "string"
          },
          "country": {
            "maxLength": 5,
            "minLength": 0,
            "type": "string"
          },
          "npdyFlag": {
            "type": "string"
          },
          "entityType": {
            "type": "string"
          },
          "porCode": {
            "type": "string"
          },
          "dodaac": {
            "type": "string"
          },
          "cageRequiredFlag": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "entityBusinessPurpose": {
            "$ref": "#/components/schemas/EntityBusPurposeDTO"
          }
        }
      },
      "UeiFedMatcherResponse": {
        "type": "object",
        "properties": {
          "alertMsg": {
            "type": "string"
          },
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "found": {
            "$ref": "#/components/schemas/UeiFedMatcher"
          },
          "entered": {
            "$ref": "#/components/schemas/UeiFedMatcher"
          },
          "uei": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "registrationStatus": {
            "type": "string"
          }
        }
      },
      "GenericHelpDeskTicketRequest": {
        "type": "object",
        "properties": {
          "helpDeskId": {
            "type": "string",
            "format": "uuid"
          },
          "issueType": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "incidentData": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "sourceName": {
            "type": "string"
          },
          "sourceRecordId": {
            "type": "string"
          }
        }
      },
      "HelpdeskTickets": {
        "type": "object",
        "properties": {
          "helpDeskId": {
            "type": "string",
            "format": "uuid"
          },
          "issueType": {
            "type": "string"
          },
          "subject": {
            "type": "string"
          },
          "incidentData": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "sourceName": {
            "type": "string"
          },
          "sourceRecordId": {
            "type": "string"
          }
        }
      },
      "QualtricsSurveyRequest": {
        "required": ["email", "hasPOR", "isForeignEntity"],
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "email": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          },
          "hasPOR": {
            "type": "boolean"
          },
          "isForeignEntity": {
            "type": "boolean"
          },
          "foreignEntity": {
            "type": "boolean"
          }
        }
      },
      "EVSAddressModel": {
        "type": "object",
        "properties": {
          "physicalAddress1": {
            "type": "string"
          },
          "physicalAddress2": {
            "type": "string"
          },
          "physicalCity": {
            "type": "string"
          },
          "physicalRegion": {
            "type": "string"
          },
          "physicalPostalCode": {
            "type": "string"
          }
        }
      },
      "UeiVerificationRequest": {
        "required": ["regId"],
        "type": "object",
        "properties": {
          "regId": {
            "maxLength": 200,
            "minLength": 0,
            "type": "string"
          },
          "originalEntityId": {
            "type": "string"
          },
          "evsId": {
            "type": "string"
          },
          "bvdId": {
            "type": "string"
          },
          "regName": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "addressLine": {
            "type": "string"
          },
          "addressLine2": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "stateCode": {
            "type": "string"
          },
          "countryCode": {
            "type": "string"
          },
          "zipCode": {
            "type": "string"
          }
        }
      },
      "EvsEntityUpdateInfo": {
        "type": "object",
        "properties": {
          "bvdId": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "helpDeskTicket": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "evsId": {
            "type": "string"
          },
          "evsProtectedAddressFlag": {
            "type": "string"
          },
          "entityData": {
            "type": "string"
          },
          "evsOriginalData": {
            "type": "string"
          },
          "userEnteredData": {
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "bypassSmarty": {
            "type": "boolean"
          },
          "bypassPoBox": {
            "type": "boolean"
          },
          "createdBy": {
            "type": "string"
          },
          "modifiedBy": {
            "type": "string"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "statusCode": {
            "type": "integer",
            "format": "int32"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "evsStatus": {
            "type": "integer",
            "format": "int32"
          },
          "por": {
            "type": "string"
          },
          "busTypeCode": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "regAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "surveyCompletedFlag": {
            "type": "string"
          },
          "ticketId": {
            "type": "string"
          }
        }
      },
      "EntityStatusTrackerRequest": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "isFSD": {
            "type": "boolean"
          },
          "emailList": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Request body containing Entity Status Tracker request data. Cannot be empty."
      },
      "EntityStatusTrackerMessage": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string"
          },
          "html": {
            "type": "string"
          }
        }
      },
      "EntityStatusTrackerResponse": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "legalBusinessName": {
            "type": "string"
          },
          "statusMessage": {
            "type": "string"
          },
          "helpMessage": {
            "$ref": "#/components/schemas/EntityStatusTrackerMessage"
          },
          "alertMessage": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityStatusTrackerMessage"
            }
          },
          "stepProgress": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityStatusTrackerStepProgress"
            }
          },
          "hasPermissionToRegister": {
            "type": "boolean"
          }
        }
      },
      "EntityStatusTrackerStepProgress": {
        "type": "object",
        "properties": {
          "stepName": {
            "type": "string"
          },
          "stepStatus": {
            "type": "string"
          }
        }
      },
      "EntityEvsIdClaimInfoRequest": {
        "type": "object",
        "properties": {
          "evsId": {
            "type": "string"
          },
          "bvdId": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "checkEvsIdClaimed": {
            "type": "boolean"
          }
        }
      },
      "DuplicateUei": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "incidentId": {
            "type": "string"
          },
          "errorMsg": {
            "type": "string"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "isDeleted": {
            "type": "boolean"
          }
        }
      },
      "FSDIncidentInfo": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string"
          },
          "closeStatus": {
            "type": "string"
          },
          "closeNotes": {
            "type": "string"
          },
          "shortDescription": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "workNote": {
            "type": "string"
          },
          "holdReason": {
            "type": "string"
          },
          "assignee": {
            "type": "string"
          },
          "customerNote": {
            "type": "string"
          }
        }
      },
      "PhrrRequestDetails": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "integer",
            "format": "int64"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "addressId": {
            "type": "integer",
            "format": "int64"
          },
          "entityName": {
            "type": "string"
          },
          "parentUei": {
            "type": "string"
          },
          "parentEntityName": {
            "type": "string"
          },
          "parentUeiPath": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "requestStatus": {
            "type": "integer",
            "format": "int32"
          },
          "userFirstName": {
            "type": "string"
          },
          "userLastName": {
            "type": "string"
          },
          "userEmail": {
            "type": "string"
          },
          "stateOfIncorporation": {
            "type": "string"
          },
          "yearOfIncorporation": {
            "type": "string"
          },
          "responderName": {
            "type": "string"
          },
          "responderEmail": {
            "type": "string"
          },
          "entityId": {
            "type": "string"
          },
          "userTimeInfo": {
            "$ref": "#/components/schemas/UserTimeInfo"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "EntityUpdateInfo": {
        "type": "object",
        "properties": {
          "legalBusinessName": {
            "type": "string"
          },
          "doingBusinessAsName": {
            "type": "string"
          }
        }
      },
      "RegistrationDetailsResponse": {
        "type": "object",
        "properties": {
          "legalBusinessName": {
            "type": "string"
          },
          "currentAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "updatedAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "fhOrgAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "mailingAddress": {
            "$ref": "#/components/schemas/MailingAddress"
          },
          "purposeOfRegistration": {
            "type": "string"
          },
          "evsAddressUpdateFlag": {
            "type": "string"
          },
          "addressUpdateFlag": {
            "type": "string"
          },
          "npdyFlag": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "busTypeCode": {
            "type": "string"
          },
          "statusId": {
            "type": "integer",
            "format": "int32"
          },
          "officeCode": {
            "type": "string"
          },
          "nodeType": {
            "type": "string"
          },
          "parentOfficeCode": {
            "type": "string"
          },
          "parentNodeType": {
            "type": "string"
          },
          "duns": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "getdBLegalBusinessName": {
            "type": "string"
          },
          "evsSource": {
            "type": "string"
          },
          "doingBusinessAsName": {
            "type": "string"
          },
          "hqParentUei": {
            "type": "string"
          },
          "domesticUei": {
            "type": "string"
          },
          "globalUei": {
            "type": "string"
          },
          "dodaac": {
            "type": "string"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "fhInfoStatus": {
            "type": "string"
          },
          "fhName": {
            "type": "string"
          },
          "entityUpdateInfo": {
            "$ref": "#/components/schemas/EntityUpdateInfo"
          },
          "evsID": {
            "type": "string"
          },
          "cageRequiredFlag": {
            "type": "string"
          },
          "cageNCageExists": {
            "type": "string"
          },
          "cageMatchFlag": {
            "type": "string"
          },
          "surveyCompletedFlag": {
            "type": "string"
          },
          "protectedAddressFlag": {
            "type": "string"
          },
          "lsamWipStatus": {
            "type": "string"
          },
          "dateOfIncorportaion": {
            "type": "string",
            "format": "date-time"
          },
          "stateOfIncorporation": {
            "type": "string"
          },
          "countryOfIncorportaion": {
            "type": "string"
          },
          "fiscalYearEndCloseDate": {
            "type": "string"
          },
          "entityURL": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "ueiCreationDate": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PendingIDAssignmentData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "legalBusinessName": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "submittedDate": {
            "type": "string"
          }
        }
      },
      "RegistrationStatusResponse": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "legalBusinessName": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "hasPOR": {
            "type": "boolean"
          },
          "ueiCreationDate": {
            "type": "string"
          },
          "hasPermissionToRegister": {
            "type": "boolean"
          },
          "entityValidationStatus": {
            "type": "string"
          },
          "hasSAMRegistration": {
            "type": "boolean"
          },
          "npdy_flag": {
            "type": "boolean"
          },
          "pendingIDList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PendingIDAssignmentData"
            }
          },
          "pendingIdTotalItems": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "HelpDeskTicketResponse": {
        "type": "object",
        "properties": {
          "helpdeskTicketId": {
            "type": "string"
          },
          "helpdeskComments": {
            "type": "string"
          },
          "helpdeskTicketType": {
            "type": "string"
          },
          "helpdeskTitle": {
            "type": "string"
          },
          "helpdeskTicket": {
            "type": "string"
          },
          "helpdeskTicketDate": {
            "type": "string",
            "format": "date-time"
          },
          "helpdeskTicketStatusId": {
            "type": "integer",
            "format": "int32"
          },
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "docAcceptedStatusFlag": {
            "type": "string"
          },
          "onHoldReason": {
            "type": "string"
          },
          "matchStrength": {
            "type": "number",
            "format": "double"
          },
          "helpdeskTicketStatusDesc": {
            "type": "string"
          }
        }
      },
      "EntityHierarchicalResponse": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "duns": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "addressLineOne": {
            "type": "string"
          },
          "addressLineTwo": {
            "type": "string"
          },
          "addressCity": {
            "type": "string"
          },
          "addressState": {
            "type": "string"
          },
          "addressZipCode": {
            "type": "string"
          },
          "addressCountry": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "hierarchyLevel": {
            "type": "integer",
            "format": "int32"
          },
          "totalImmediateChildren": {
            "type": "integer",
            "format": "int32"
          },
          "totalParents": {
            "type": "integer",
            "format": "int32"
          },
          "totalHierarchyCount": {
            "type": "integer",
            "format": "int32"
          },
          "parentHierarchy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityHierarchicalResponse"
            }
          },
          "childHierarchy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityHierarchicalResponse"
            }
          }
        }
      },
      "HierarcalResponseV3": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "hqUei": {
            "type": "string"
          },
          "domesticUei": {
            "type": "string"
          },
          "parentUei": {
            "type": "string"
          },
          "globalParentUei": {
            "type": "string"
          },
          "dbaName": {
            "type": "string"
          },
          "por": {
            "type": "string"
          },
          "cage": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HierarcalResponseV3"
            }
          }
        }
      },
      "ExclusionsHierarchyRequest": {
        "type": "object",
        "properties": {
          "ueiDUNS": {
            "type": "string"
          },
          "uei": {
            "type": "string"
          },
          "page": {
            "type": "string"
          },
          "keyword": {
            "type": "string"
          },
          "activeExclusion": {
            "type": "string"
          },
          "pageSize": {
            "type": "string"
          },
          "level": {
            "type": "string"
          },
          "sortField": {
            "type": "string"
          },
          "sortValue": {
            "type": "string"
          },
          "random": {
            "type": "string"
          }
        }
      },
      "ExclusionRelatedEntitiesV2": {
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "format": "int32"
          },
          "isGovFlag": {
            "type": "string"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExclusionsFamilyHierarchyResponseV2"
            }
          }
        }
      },
      "ExclusionsFamilyHierarchyResponseV2": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "activeExclusion": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "totalChildren": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "EntityInfoResponse": {
        "type": "object",
        "properties": {
          "ueiDUNS": {
            "type": "string"
          },
          "ueiSAM": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "purposeOfRegistration": {
            "type": "string"
          },
          "doingBusinessAs": {
            "type": "string"
          },
          "publicDisplayFlag": {
            "type": "string"
          },
          "protectedAddressFlag": {
            "type": "string"
          },
          "addressId": {
            "type": "integer",
            "format": "int64"
          },
          "mailingAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "exclusionId": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "exclusion": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExclusionDataDto"
            }
          },
          "entityUeiHistoricalRecords": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityUeiHistoricalRecord"
            }
          },
          "protectedAddressAlert": {
            "$ref": "#/components/schemas/ProtectedAddressAlert"
          }
        }
      },
      "EntityUeiHistoricalRecord": {
        "type": "object",
        "properties": {
          "versionId": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "ProtectedAddressAlert": {
        "type": "object",
        "properties": {
          "alertMessage": {
            "type": "string"
          },
          "linkText": {
            "type": "string"
          },
          "linkURL": {
            "type": "string"
          }
        }
      },
      "CongressionalDistrictCounts": {
        "type": "object",
        "properties": {
          "pendingDetermination": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "RegistrationDetails": {
        "type": "object",
        "properties": {
          "regId": {
            "type": "integer",
            "format": "int64"
          },
          "uei": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "currentAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "cageCode": {
            "type": "string"
          },
          "expirationDate": {
            "type": "string"
          },
          "registrationStatus": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "doingBusinessAsName": {
            "type": "string"
          },
          "hqParentUei": {
            "type": "string"
          },
          "hqParentName": {
            "type": "string"
          },
          "domesticUei": {
            "type": "string"
          },
          "domesticName": {
            "type": "string"
          },
          "globalUei": {
            "type": "string"
          },
          "globalName": {
            "type": "string"
          },
          "evsSource": {
            "type": "string"
          },
          "parentUeiPath": {
            "type": "string"
          },
          "fhParentPath": {
            "type": "string"
          },
          "protectedAddressFlag": {
            "type": "string"
          }
        }
      },
      "EntityHierarcialResponseV2": {
        "type": "object",
        "properties": {
          "uei": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "hqUei": {
            "type": "string"
          },
          "domesticUei": {
            "type": "string"
          },
          "parentUei": {
            "type": "string"
          },
          "globalParentUei": {
            "type": "string"
          },
          "hsId": {
            "type": "integer",
            "format": "int64"
          },
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityHierarcialResponseV2"
            }
          }
        }
      },
      "UEIData": {
        "type": "object",
        "properties": {
          "ueiDUNS": {
            "type": "string"
          },
          "ueiSAM": {
            "type": "string"
          },
          "cageCode": {
            "type": "string"
          }
        }
      },
      "UEIDataResponse": {
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "format": "int32"
          },
          "entityData": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UEIData"
            }
          }
        }
      }
    }
  }
}
