openapi: 3.0.0
info:
  title: Get Opportunities API
  version: 2.0.0
  description: >
    The Get Opportunities API allows users to search for federal contracting
    opportunities based on various criteria.

    It provides detailed information about each opportunity, including titles,
    solicitation numbers, posting dates, and more.
servers:
  - url: https://api.sam.gov/opportunities/v2
    description: Production server
  - url: https://api-alpha.sam.gov/opportunities/v2
    description: Alpha server
paths:
  /search:
    get:
      summary: Search for opportunities
      description: >-
        Retrieve a list of federal contracting opportunities based on specified
        criteria.
      tags:
        - Opportunities
      parameters:
        - in: query
          name: api_key
          required: true
          schema:
            type: string
          description: Your public API key for authentication.
        - in: query
          name: ptype
          schema:
            type: string
            enum:
              - u
              - p
              - a
              - r
              - s
              - o
              - g
              - k
              - i
          description: |
            Procurement Type:
            * u - Justification (J&A)
            * p - Pre-solicitation
            * a - Award Notice
            * r - Sources Sought
            * s - Special Notice
            * o - Solicitation
            * g - Sale of Surplus Property
            * k - Combined Synopsis/Solicitation
            * i - Intent to Bundle Requirements (DoD-Funded)
        - in: query
          name: solnum
          schema:
            type: string
          description: Solicitation Number
        - in: query
          name: noticeid
          schema:
            type: string
          description: Notice ID
        - in: query
          name: title
          schema:
            type: string
          description: Title of the opportunity
        - in: query
          name: postedFrom
          required: true
          schema:
            type: string
            format: date
          description: Start date for when the opportunity was posted (MM/dd/yyyy)
        - in: query
          name: postedTo
          required: true
          schema:
            type: string
            format: date
          description: End date for when the opportunity was posted (MM/dd/yyyy)
        - in: query
          name: state
          schema:
            type: string
          description: State where the opportunity's place of performance is located
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - inactive
              - archived
              - cancelled
              - deleted
          description: Status of the opportunity (coming soon)
        - in: query
          name: zip
          schema:
            type: string
          description: Zip code for the place of performance
        - in: query
          name: organizationCode
          schema:
            type: string
          description: Code of the associated organization
        - in: query
          name: organizationName
          schema:
            type: string
          description: Name of the associated organization
        - in: query
          name: typeOfSetAside
          schema:
            type: string
          description: Set-aside code
        - in: query
          name: typeOfSetAsideDescription
          schema:
            type: string
          description: Description of the set-aside code
        - in: query
          name: ncode
          schema:
            type: string
            pattern: ^\d{1,6}$
          description: NAICS Code (up to 6 digits)
        - in: query
          name: ccode
          schema:
            type: string
          description: Classification Code
        - in: query
          name: rdlfrom
          schema:
            type: string
            format: date
          description: Response deadline start date (MM/dd/yyyy)
        - in: query
          name: rdlto
          schema:
            type: string
            format: date
          description: Response deadline end date (MM/dd/yyyy)
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1
          description: Number of records to retrieve per page
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Page index for pagination
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpportunitiesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    OpportunitiesResponse:
      type: object
      properties:
        totalRecords:
          type: integer
          description: Total number of records found
        limit:
          type: integer
          description: Limit set in the request
        offset:
          type: integer
          description: Offset set in the request
        opportunityData:
          type: array
          items:
            $ref: '#/components/schemas/Opportunity'
    Opportunity:
      type: object
      properties:
        title:
          type: string
          description: Title of the opportunity
        solicitationNumber:
          type: string
          description: The solicitation number
        fullParentPathName:
          type: string
          description: Names of all organizations associated with the notice
        fullParentPathCode:
          type: string
          description: Codes of all organizations associated with the notice
        postedDate:
          type: string
          format: date-time
          description: When the opportunity was posted
        type:
          type: string
          description: Current type of the opportunity
        baseType:
          type: string
          description: Original type of the opportunity
        archiveType:
          type: string
          description: Type of archive
        archiveDate:
          type: string
          format: date-time
          description: Date when the opportunity was archived
        setAside:
          type: string
          description: Description of the set-aside
        setAsideCode:
          type: string
          description: Code of the set-aside
        responseDeadLine:
          type: string
          format: date-time
          description: Deadline for responses
        naicsCode:
          type: string
          description: NAICS Code
        classificationCode:
          type: string
          description: Classification Code
        active:
          type: string
          enum:
            - 'Yes'
            - 'No'
          description: Indicates if the opportunity is active
        award:
          $ref: '#/components/schemas/Award'
        pointOfContact:
          type: array
          items:
            $ref: '#/components/schemas/PointOfContact'
        officeAddress:
          $ref: '#/components/schemas/Address'
        placeOfPerformance:
          $ref: '#/components/schemas/Address'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'
        resourceLinks:
          type: array
          items:
            type: string
            format: uri
          description: Direct URLs to download attachments related to the opportunity
    Award:
      type: object
      properties:
        number:
          type: string
          description: Award number
        amount:
          type: number
          description: Award amount
        date:
          type: string
          format: date
          description: Award date
        awardee:
          $ref: '#/components/schemas/Awardee'
    Awardee:
      type: object
      properties:
        name:
          type: string
          description: Name of the awardee
        ueiSAM:
          type: string
          description: Unique Entity Identifier SAM
        location:
          $ref: '#/components/schemas/Address'
    PointOfContact:
      type: object
      properties:
        type:
          type: string
          description: Type of contact
        title:
          type: string
          description: Title of the contact
        fullName:
          type: string
          description: Full name of the contact
        email:
          type: string
          format: email
          description: Email of the contact
        phone:
          type: string
          description: Phone number of the contact
        fax:
          type: string
          description: Fax number of the contact
        additionalInfo:
          type: string
          description: Any additional information provided
    Address:
      type: object
      properties:
        streetAddress:
          type: string
          description: Street address
        city:
          type: string
          description: City
        state:
          type: string
          description: State
        country:
          type: string
          description: Country
        zip:
          type: string
          description: Zip code
    Link:
      type: object
      properties:
        description:
          type: string
          description: Description of the link
        url:
          type: string
          format: uri
          description: URL of the link
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_key
security:
  - ApiKeyAuth: []
